XGBOOST

In [5]:
import pandas as pd
import numpy as np

# Charger le fichier CSV (assurez-vous que le fichier est dans le même dossier)
df = pd.read_csv('data/processed_hr_data_encoded_normalized.csv')

# Vérifier que tout est correct
print("Dimensions du dataset :", df.shape)
df.head()

Dimensions du dataset : (4410, 45)

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,0.785714,0.0,0.5,0.178571,0.25,0.00,0.637546,0.111111,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.309524,1.0,1.0,0.321429,0.00,0.00,0.167457,0.000000,0.857143,0.333333,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.333333,0.0,1.0,0.571429,0.75,0.75,0.964666,0.111111,0.285714,1.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.476190,0.0,0.0,0.035714,1.00,0.50,0.385045,0.333333,0.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.333333,0.0,0.5,0.321429,0.00,0.00,0.070195,0.444444,0.071429,0.666667,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

KNN

Perceptron

Random Forest